.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2.5rem;
}

.item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 1%;
    border: 1px solid transparent;
    transition: var(--transition);
    display: grid;
    place-items: center;
}

.item:hover {
    border-radius: var(--color-primary-variant);
    background: transparent;
}

.item-image {
    overflow: hidden;
    border-radius: 1%;
}

.item h3 {
    margin: 1rem 0;
}

.btn {
    margin: auto;
} 


@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns : 1fr 1fr;
        gap: 1.2rem;
    }
}


@media screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns : 1fr;
        gap: 1.2rem;
    }
}